.divcont {
  width: 300px;
  margin: 0 auto;
  padding: 3%;
  border: 1px red;
}

body {
  margin-top: 5%;
  margin-left: 5%;
}

#header {
  text-align: center;
}

.displayv {
  width: 100%;
  margin: 0 auto;
}

.displayv div {
  width: 300px;
  margin: 0 auto;
  border: 1px solid;
  padding: 2%;
  text-align: center;
}

#frame {
  margin: 0 auto;
}

#strongtxt {
  font-size: xx-large;
}
